# Ignore everything at the root
/*

# Whitelist useful files and directories
!/settings.json
!/GEMINI.md
!/COMMANDS.md
!/commands/
!/.gitignore
!/README.md
!/LICENSE
!/context7_README.md

# Re-ignore OS specific files
.DS_Store
Thumbs.db
